<div class="ui main text container segment">

  <div class="field">
    <label>Reply : </label>
      <input type="text" name="comment[message]" placeholder="comment">
      <input class="ui positive basic button" type="submit">
    </div>
</div>
