<!DOCTYPE html>
<html lang="en">
<head>
   <title>SIIT share</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body>
  <div class="ui top fixed menu">

    <div class="ui container">
      <div class="header item"><i class="share alternate square icon icon"></i><a herf ="/blogs">SIIT share</a></div>
        <a href ="/blogs/new" class="right item">New topic</a>
      </div>
  </div>
</div>
