
<% include ./partials/header %>



<% blogs.forEach(function(blog){%>
  <div>
    <h2><%= blog.title %></h2>
    <span><%= blog.created.toDateString() %></span>
    <p><%= blog.body%></p>
    <a href="/blogs/<%= blog._id %>">Reply</a>
  </div>
<% }) %>

<% include ./partials/footer %>
