i.icon{
  font-size: 1em;
}


.container.main{
  margin-top: 7em;
}

.h2{
  margin-top: 7em;
}
#nav{
  margin-bottom: 3em;
}
#blogposted{
  margin-top: 1em;
  background-color: white;
  border: 2px solid gray;
  border-radius:10px;
}
#space{
  margin-top:4em;
}
